.posts-wrapper{
    margin: 1rem;
    padding:10rem;
}
.search-bar-wraper{
    text-align: end;
    margin:0.4rem;

    

}
.search-bar{
    margin-left:3%;
    padding: 0.7rem;
    width: 20rem;
    border-radius: 50px;
    border: none;
}


@media (max-width:870px){
    .post-wrapper{
        margin: 2rem;
    }
}
